<script>
    import { writable } from "svelte/store";

    let beverages = [
        { kp: "Kopi", en: "Coffee" },
        { kp: "Teh", en: "Tea" },
        { kp: "Cham", en: "Tea + Coffee" },
    ];

    let strengths = [
        {kp: "poh", en: "Light"},
        {kp: "", en: "Normal"},
        {kp: "kao", en: "Strong"},
        {kp: "di loh", en: "Very strong (no water)"}
    ]

    let temperatures = [
        { kp: "", en: "Hot" },
        { kp: "pua sio", en: "Warm" },
        { kp: "peng", en: "Iced" },
    ];

    let milks = [
        { kp: "o", en: "No milk" },
        { kp: "", en: "Condensed milk" },
        { kp: "C", en: "Evaporated milk" },
    ];

    let milkLevels = [
        { kp: "siew dai", en: "Less milk" },
        { kp: "", en: "Normal" },
        { kp: "ga dai", en: "More milk" },
    ];

    let beverage = "Kopi";
    let strength = ""
    let sugarBool = false;
    $: sugar = sugarBool ? "" : "kosong";
    let temp = "";
    let milk = "o";
    let milkLevel = "";
    let order = [];
    function setOrder(beverage) {
        order.push(beverage);
        order = order;
    }
</script>

<h2>Order your coffee</h2>
<form>
    <fieldset>
        <legend>Type</legend>
        {#each beverages as { kp, en }, idx}
            <label>
                <input
                    type="radio"
                    id="bev_{kp}_{idx}"
                    value={kp}
                    bind:group={beverage}
                />{en}</label
            >
        {/each}
    </fieldset>

    <fieldset>
        <legend>Strength</legend>
        {#each strengths as {kp, en}, idx}
            <label>
                <input type="radio" id="strength_{kp}_{idx}" value={kp} bind:group={strength}>{en}</label>
        {/each}
    </fieldset>

    <fieldset>
        <legend>Milk</legend>
        {#each milks as { kp, en }, idx}
            <label>
                <input
                    type="radio"
                    id="milk_{kp}_{idx}"
                    value={kp}
                    bind:group={milk}
                />{en}</label
            >
        {/each}
    </fieldset>
    {#if ["C", ""].indexOf(milk) > -1}
        <fieldset>
            <legend>Milk level</legend>
            {#each milkLevels as { kp, en }, idx}
                <label
                    ><input
                        type="radio"
                        id="milkLevel_{kp}_{idx}"
                        value={kp}
                        bind:group={milkLevel}
                    />{en}</label
                >
            {/each}
        </fieldset>
    {/if}
    <fieldset>
        <legend>Sugar?</legend>
        <label
            ><input
                type="checkbox"
                id="sugar"
                bind:checked={sugarBool}
            />Sugar</label
        >
    </fieldset>
    <fieldset>
        <legend>Temperature</legend>
        {#each temperatures as { kp, en }, idx}
            <label>
                <input
                    type="radio"
                    id="{kp}_{idx}"
                    value={kp}
                    bind:group={temp}
                />{en}</label
            >
        {/each}
    </fieldset>
</form>
<p>{beverage} {milk} {milkLevel} {sugar} {strength} {temp}</p>
